<launch>
    <!-- Launch the image_processor_node -->
    <node
        pkg="tapnext_pkg"
        type="tapnext_node.py"
        name="tapnext_service"
        output="log">
        <!-- Remap topics -->
        <!-- <remap from="/input_image" to="/camera/image_raw" />
        <remap from="/output_image" to="/processed_image" /> -->
    </node>
</launch>
