*~
*.rviz
ex_calib_result.yaml
vins_result.csv
iphone.launch
iphone/
A3_rs/
A3_rs.launch
test/
test.launch
.vscode/

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore environment files
.env
*.env

# Ignore logs
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db